<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlzncz.dao.JueSeMapper">
	<select id="queryJueSeByIds" resultType="com.hlzncz.entity.JueSe">
		select * from jue_se where 1=1
		<if test="ids!=''&amp;ids!=null">
			and id in(#{ids})
		</if>
	</select>
</mapper>