<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlzncz.dao.KaPianWeiHuMapper">
	<insert id="newKaPianWeiHu" parameterType="com.hlzncz.entity.KaPianWeiHu">
		insert into ka_pian_wei_hu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="kh!=null">
				kh,
			</if>
				bjsj
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="kh!=null">
				#{kh},
			</if>
				now()
		</trim>
	</insert>
	<delete id="deleteKaPianWeiHu">
		delete from ka_pian_wei_hu where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in(" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="editKaPianWeiHu" parameterType="com.hlzncz.entity.KaPianWeiHu">
		update ka_pian_wei_hu set 
		<trim suffixOverrides=",">
			<if test="kh!=null">
				kh=#{kh},
			</if>
				bjsj=now()
		</trim>
		 where id=#{id}
	</update>
	<select id="queryKaPianWeiHuForInt" resultType="java.lang.Integer">
		select count(*) from ka_pian_wei_hu where 1=1
		<if test="kh!=''&amp;kh!=null">
			and kh like CONCAT('%',#{kh},'%')
		</if> 
	</select>
	<select id="queryKaPianWeiHuList" resultType="com.hlzncz.entity.KaPianWeiHu">
		select * from ka_pian_wei_hu where 1=1
		<if test="kh!=''&amp;kh!=null">
			and kh like CONCAT('%',#{kh},'%')
		</if> 
	</select>
	<select id="selectKaPianWeiHuById" resultType="com.hlzncz.entity.KaPianWeiHu">
		select * from ka_pian_wei_hu where id=#{0}
	</select>
</mapper>