<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlzncz.dao.PublicMapper">

	<select id="selectParCaiDan" resultType="com.hlzncz.entity.CaiDan">
		select mc from cai_dan where jb=1
	</select>
	
</mapper>