<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlzncz.dao.ZhiJianBaoGaoMapper">
	<insert id="newZhiJianBaoGao" parameterType="com.hlzncz.entity.ZhiJianBaoGao">
		insert into zhi_jian_bao_gao
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="jl!=null">
				jl,
			</if>
				bjsj,
			<if test="glddBm!=null">
				glddBm,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="jl!=null">
				#{jl},
			</if>
				now(),
			<if test="glddBm!=null">
				#{glddBm},
			</if>
		</trim>
	</insert>
	<update id="editZhiJianBaoGao" parameterType="com.hlzncz.entity.ZhiJianBaoGao">
		update zhi_jian_bao_gao set
		<trim suffixOverrides=",">
			<if test="jl!=null">
				jl=#{jl},
			</if>
				bjsj=now()
		</trim>
		where glddBm=#{glddBm}
	</update>
	<select id="selectZhiJianBaoGaoByGlddBm" resultType="com.hlzncz.entity.ZhiJianBaoGao">
		select * from zhi_jian_bao_gao where glddBm=#{glddBm}
	</select>
	<select id="selectZhiJianBaoGaoById" resultType="com.hlzncz.entity.ZhiJianBaoGao">
		select * from zhi_jian_bao_gao where id=#{id}
	</select>
	<update id="updateZhiJianBaoGaoJLByGlddBms">
		update zhi_jian_bao_gao set jl=#{jl}
		<foreach collection="glddBmList" item="glddBm" open=" where cast(glddBm as char) in(" separator="," close=")">
		#{glddBm}
		</foreach>
	</update>
	<select id="queryZJZXHZJGLZJBGForInt" resultType="java.lang.Integer">
		select count(*) from zhi_jian_bao_gao zjbg,ding_dan dd,ding_dan_zhuang_tai ddzt,che_liang cl where zjbg.glddBm=dd.wybm and ddzt.id=dd.ddztId and dd.cyclId=cl.id
		<if test="jl!=''&amp;jl!=null">
			and zjbg.jl=#{jl}
		</if>
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
		<if test="ddztId!=''&amp;ddztId!=null">
			and dd.ddztId in (#{ddztId})
		</if>
		<if test="cph!=''&amp;cph!=null">
			and cl.cph like CONCAT('%',#{cph},'%')
		</if>
	</select>
	<select id="queryZJZXHZJGLZJBGList" resultType="com.hlzncz.entity.ZhiJianBaoGao">
		select zjbg.id,zjbg.bjsj,dd.ddh,ddzt.mc ddztmc,zjbg.jl from zhi_jian_bao_gao zjbg,ding_dan dd,ding_dan_zhuang_tai ddzt,che_liang cl where zjbg.glddBm=dd.wybm and ddzt.id=dd.ddztId and dd.cyclId=cl.id
		<if test="jl!=''&amp;jl!=null">
			and zjbg.jl=#{jl}
		</if>
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
		<if test="ddztId!=''&amp;ddztId!=null">
			and dd.ddztId in (#{ddztId})
		</if>
		<if test="cph!=''&amp;cph!=null">
			and cl.cph like CONCAT('%',#{cph},'%')
		</if>
		order by zjbg.bjsj desc
		limit #{rowNum},#{rows}
	</select>
</mapper>